<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IBM Voice Test</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" id="container">
        <h1 >Welcome</h1>   
        <p class="lead">Write something that you want to listen.</p>
        
        <div id="nameInput" class="input-group-lg helloInput">            
            <textarea id="sentence" placeholder="Sentence" style="resize: both; overflow: auto;width: 330px;height: 100%;" type="text" class="form-control"s></textarea>
        </div>
        <br>
        <select id="selectedVoice" class="form-control" style="width: 330px;">
            <option value="en-US_MichaelVoice">Michael (US) SimpleText IBM</option>
            <option value="en-US_AllisonVoice">Allison (US) SimpleText or Expressive SSML IBM</option>
            <option value="en-GB_KateVoice">Kate (UK) SimpleText IBM</option>
            <option value="en-US_LisaVoice">Lisa (US) SimpleText IBM</option>
            <!--<option value="en-US_LisaVoice">Lisa (US) SimpleText IBM</option>-->
        </select>
        <br>
        <!--<audio controls>
            <source src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>-->
    </div>
</body>

</html>

<script>
        $('#sentence').keydown(function(e) {
        	var sentence = document.getElementById('sentence').value;
            var voice = $('#selectedVoice').val();
            if (e.which == 13 && sentence.length > 0) { //catch Enter key
                $.ajax({
				    method: "POST",
				    url: "./api/visitors",
				    contentType: "application/json",
				    data: JSON.stringify({
                        sentence: sentence,
                        voice: voice
                    })
				})
                .done(function(data) {
                    console.log(data)
                });
            }
        });
    </script>