<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IBM vs Azure</title>
        <link rel="icon" href="./speaking.png">
        <!-- Bootstrap -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="function.js"></script>
    </head>
    <body >
        <nav id="nav" class="navbar navbar-default navbar-static-top">
            <div style="padding-left: 10%">
                <h3>Welcome</h3>   
                <p class="lead" style="font-size: 18px">Write something you want to hear.</p>
            </div> 
        </nav>           
        <div class="container" id="container">
            <div id="nameInput" class="input-group-lg">            
                <textarea id="sentence" placeholder="Sentence" style="resize: both; overflow: auto;width: 500px;height: 100%;" type="text" class="form-control"s></textarea>
            </div>
            <br>
            <select id="selectedVoice" class="form-control" style="width: 500px;">
                <!--IBM-->
                <option value="en-US_MichaelVoice">Michael (US) SimpleText IBM</option>
                <option value="en-US_AllisonVoice">Allison (US) SimpleText or Expressive SSML IBM</option>
                <option value="en-GB_KateVoice">Kate (UK) SimpleText IBM</option>
                <option value="en-US_LisaVoice">Lisa (US) SimpleText IBM</option>
                <!--Azure-->
                <option value="en-US, BenjaminRUS">Benjamin (US) Azure</option>
                <option value="en-US, Guy24kRUS">Guy24k (US) Azure</option>
                <option value="en-US, ZiraRUS">Zira (US) Azure</option>
                <option value="en-US, JessaRUS">Jessa (US) Azure</option>
                <option value="en-US, Jessa24kRUS">Jessa24k (US) Azure</option>

                <option value="en-GB, George, Apollo">George (UK) Azure</option>
                <option value="en-GB, Susan, Apollo">Susan (UK) Azure</option>
                <option value="en-GB, HazelRUS">Jessa24k (UK) Azure</option>
            </select>
            <br>
            <div>
                <button id="generateAudio" class="btn btn-success">Generate</button>
            </div>
            <br>
            <div id="error" style="display: none;">
                <div class="alert alert-danger" role="alert" style="max-width: 500px;">
                    The sentence is empty!
                </div>
            </div>        
            <div id="alerts" style="display: none;">
                <div  class="alert alert-success" role="alert"  style="max-width: 500px;">
                    Successful audio generation!
                </div>
            </div>        
            <div class="alert alert-info"  style="max-width: 500px;">
                <strong>Important data on IBM options</strong>
                <li><u>SimpleText</u></li>
                You can generate an audio from a plain text without any structure.
                <li><u>Expressive SSML</u></li>
                You can generate an audio, but the text you insert must have a specific structure.
                <br><br>
                <strong>Important data on Azure voices</strong>
                <br>All voices implement a basic configuration for better pronunciation (pausing).
            </div>
            <div id="container1"></div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
        <script>
            const apiKey = '12140d6367c04f64984a42e7c17a022a' 
        
            async function synth(key, text, lang, gender, voice){
                const urlAuth = 'https://api.cognitive.microsoft.com/sts/v1.0/issueToken'
                const auth = await axios.post(urlAuth, {}, {
                headers:{
                    'Ocp-Apim-Subscription-Key': key
                }
                })
                const urlAudio = 'https://speech.platform.bing.com/synthesize'
                const xml = `
                <speak version='1.0' xml:lang='${lang}' xmlns="http://www.w3.org/2001/10/synthesis">
                    <voice xml:lang='${lang}' xml:gender='${gender}' name='Microsoft Server Speech Text to Speech Voice (${voice})'>"
                    <break time="110ms" />${text}<break time="110ms" /></voice></speak>`
                
                const audioData = await axios.post(urlAudio, xml, {
                    responseType: 'blob',
                    headers:{
                        Authorization: 'Bearer '+auth.data,
                        'Content-Type': 'application/ssml+xml',
                        'X-Microsoft-OutputFormat': 'audio-16khz-32kbitrate-mono-mp3'
                    }
                })
                const reader = new FileReader()
                reader.onload = () => {
                    const container = document.getElementById('container1');
                    var audioTag = audioTag = document.createElement('audio');

                    // delete audio tag, because in each run generates a new audio tag
                    var elemento = document.getElementById("container1");
                    while (elemento.firstChild) 
                        elemento.removeChild(elemento.firstChild);
                    

                    audioTag.src = reader.result
                    audioTag.autoplay = true
                    audioTag.controls = true
                    container.appendChild(audioTag)
                }
                reader.readAsDataURL(audioData.data)
            }

            var audioAzure = function(){
                document.getElementById('error').style.display = 'none'
                document.getElementById('alerts').style.display = 'none'
                var sentence = document.getElementById('sentence').value;
                var voice = $('#selectedVoice').val();
                if (sentence.length > 0) {
                    if(voice == 'en-US, BenjaminRUS' | voice == 'en-US, Guy24kRUS')//male US
                        synth(apiKey, sentence,'en-US','Male',voice)
                    else if(voice == 'en-US, ZiraRUS' | voice == 'en-US, JessaRUS' | voice == 'en-US, Jessa24kRUS')//female US
                        synth(apiKey, sentence,'en-US','Female',voice)
                    else if(voice == 'en-GB, George, Apollo') // male UK
                        synth(apiKey, sentence,'en-GB','Male',voice)
                    else if(voice == 'en-GB, Susan, Apollo' | voice == 'en-GB, HazelRUS') // female UK
                        synth(apiKey, sentence,'en-GB','Female',voice)
                    else
                        generateAudio();
                }
                else{
                    document.getElementById('error').style.display = 'inline'
                }
            }
            document.getElementById('generateAudio').addEventListener("click", audioAzure, false);      
        </script>
    </body>
</html>