html {
  position: relative;
  min-height: 100%;
}
body {
  
  background: rgba(244, 244, 244, 0);
  /*background: linear-gradient(141deg, #00FFFF 10%, #1fc8db 30%, #2cb5e8 75%);*/
}
#nav{
  background-color: rgba(78, 125, 226, 0.837);
}
#title{
  padding-left: 5%;
  background: linear-gradient(to bottom right, #00FFFF -30%,  azure 10%, #46c0ec55 70%);
}